USE [master]
GO
/****** Object:  Database [QLCH_THUC_AN_NHANH]    Script Date: 6/2/2023 5:13:54 PM ******/
CREATE DATABASE [QLCH_THUC_AN_NHANH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCH_THUC_AN_NHANH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLCH_THUC_AN_NHANH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCH_THUC_AN_NHANH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLCH_THUC_AN_NHANH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCH_THUC_AN_NHANH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCH_THUC_AN_NHANH]
GO
/****** Object:  Table [dbo].[BAN_AN]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN_AN](
	[MA_BAN] [varchar](50) NOT NULL,
	[TEN_BAN] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_BAN_AN] PRIMARY KEY CLUSTERED 
(
	[MA_BAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_HANG]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG](
	[MA_DH] [int] IDENTITY(1,1) NOT NULL,
	[THANH_TIEN] [int] NOT NULL,
	[THOI_GIAN_TAO_DH] [datetime] NOT NULL,
	[THOI_GIAN_THANH_TOAN] [datetime] NULL,
	[TAI_KHOAN] [varchar](50) NULL,
 CONSTRAINT [PK_DON_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_HANG_CHI_TIET]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG_CHI_TIET](
	[MA_DH] [int] NOT NULL,
	[MA_BAN] [varchar](50) NOT NULL,
	[MA_HH] [int] NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [int] NOT NULL,
	[THANH_TIEN]  AS ([SO_LUONG]*[DON_GIA])
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_VI_TINH]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_TINH](
	[MA_DVT] [varchar](50) NOT NULL,
	[TEN_DVT] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DON_VI_TINH] PRIMARY KEY CLUSTERED 
(
	[MA_DVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG_HOA]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_HOA](
	[MA_HH] [int] IDENTITY(1,1) NOT NULL,
	[MA_LH] [varchar](50) NOT NULL,
	[MA_DVT] [varchar](50) NOT NULL,
	[TEN_HH] [nvarchar](100) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [int] NOT NULL,
 CONSTRAINT [PK_HANG_HOA] PRIMARY KEY CLUSTERED 
(
	[MA_HH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_HANG]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_HANG](
	[MA_LH] [varchar](50) NOT NULL,
	[TEN_LH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LOAI_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_LH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[TAI_KHOAN] [varchar](50) NOT NULL,
	[MAT_KHAU] [nvarchar](100) NOT NULL,
	[HO_TEN] [nvarchar](100) NOT NULL,
	[SDT] [varchar](100) NOT NULL,
	[QUYEN_HAN] [int] NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_KE]    Script Date: 6/2/2023 5:13:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_KE](
	[NGAY] [nvarchar](50) NOT NULL,
	[DOANHTHU] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BAN_AN] ([MA_BAN], [TEN_BAN]) VALUES (N'BAN_01', N'BÀN SỐ 01')
INSERT [dbo].[BAN_AN] ([MA_BAN], [TEN_BAN]) VALUES (N'BAN_02', N'BÀN SỐ 02')
INSERT [dbo].[BAN_AN] ([MA_BAN], [TEN_BAN]) VALUES (N'BAN_03', N'BÀN SỐ 03')
GO
SET IDENTITY_INSERT [dbo].[DON_HANG] ON 

INSERT [dbo].[DON_HANG] ([MA_DH], [THANH_TIEN], [THOI_GIAN_TAO_DH], [THOI_GIAN_THANH_TOAN], [TAI_KHOAN]) VALUES (1, 214000, CAST(N'2023-03-13T13:54:19.930' AS DateTime), CAST(N'2023-03-13T13:54:48.737' AS DateTime), N'nvien0')
INSERT [dbo].[DON_HANG] ([MA_DH], [THANH_TIEN], [THOI_GIAN_TAO_DH], [THOI_GIAN_THANH_TOAN], [TAI_KHOAN]) VALUES (2, 351000, CAST(N'2023-04-04T13:54:38.533' AS DateTime), CAST(N'2023-04-04T21:51:46.813' AS DateTime), N'nvien1')
INSERT [dbo].[DON_HANG] ([MA_DH], [THANH_TIEN], [THOI_GIAN_TAO_DH], [THOI_GIAN_THANH_TOAN], [TAI_KHOAN]) VALUES (3, 25000, CAST(N'2023-04-25T13:22:05.360' AS DateTime), CAST(N'2023-04-25T18:38:36.673' AS DateTime), N'nvien2')
SET IDENTITY_INSERT [dbo].[DON_HANG] OFF
GO
INSERT [dbo].[DON_HANG_CHI_TIET] ([MA_DH], [MA_BAN], [MA_HH], [SO_LUONG], [DON_GIA]) VALUES (1, N'BAN_01', 1, 2, 17000)
INSERT [dbo].[DON_HANG_CHI_TIET] ([MA_DH], [MA_BAN], [MA_HH], [SO_LUONG], [DON_GIA]) VALUES (1, N'BAN_03', 5, 2, 50000)
INSERT [dbo].[DON_HANG_CHI_TIET] ([MA_DH], [MA_BAN], [MA_HH], [SO_LUONG], [DON_GIA]) VALUES (1, N'BAN_03', 3, 3, 10000)
GO
INSERT [dbo].[DON_VI_TINH] ([MA_DVT], [TEN_DVT]) VALUES (N'BANH', N'BÁNH')
INSERT [dbo].[DON_VI_TINH] ([MA_DVT], [TEN_DVT]) VALUES (N'CHAI', N'CHAI')
INSERT [dbo].[DON_VI_TINH] ([MA_DVT], [TEN_DVT]) VALUES (N'DIA', N'DĨA')
GO
SET IDENTITY_INSERT [dbo].[HANG_HOA] ON 

INSERT [dbo].[HANG_HOA] ([MA_HH], [MA_LH], [MA_DVT], [TEN_HH], [SO_LUONG], [DON_GIA]) VALUES (1, N'MON_CHINH', N'BANH', N'BÁNH MỲ VỊT QUAY', 18, 17000)
INSERT [dbo].[HANG_HOA] ([MA_HH], [MA_LH], [MA_DVT], [TEN_HH], [SO_LUONG], [DON_GIA]) VALUES (2, N'NUOC_GIAI_KHAT', N'LON', N'PEPSI', 100, 10000)
INSERT [dbo].[HANG_HOA] ([MA_HH], [MA_LH], [MA_DVT], [TEN_HH], [SO_LUONG], [DON_GIA]) VALUES (3, N'NUOC_GIAI_KHAT', N'LON', N'COCA COLA', 100, 10000)
SET IDENTITY_INSERT [dbo].[HANG_HOA] OFF
GO
INSERT [dbo].[LOAI_HANG] ([MA_LH], [TEN_LH]) VALUES (N'MON_CHINH', N'MÓN CHÍNH')
INSERT [dbo].[LOAI_HANG] ([MA_LH], [TEN_LH]) VALUES (N'MON_PHU', N'MÓN PHỤ')
INSERT [dbo].[LOAI_HANG] ([MA_LH], [TEN_LH]) VALUES (N'NUOC_GIAI_KHAT', N'NƯỚC GIẢI KHÁT')
GO
INSERT [dbo].[NHAN_VIEN] ([TAI_KHOAN], [MAT_KHAU], [HO_TEN], [SDT], [QUYEN_HAN]) VALUES (N'admin', N'1234', N'Nguyễn Văn A', N'0938848351', 1)
INSERT [dbo].[NHAN_VIEN] ([TAI_KHOAN], [MAT_KHAU], [HO_TEN], [SDT], [QUYEN_HAN]) VALUES (N'ADMIN1', N'1234', N'Nguyễn Văn B', N'0376719322', 1)
INSERT [dbo].[NHAN_VIEN] ([TAI_KHOAN], [MAT_KHAU], [HO_TEN], [SDT], [QUYEN_HAN]) VALUES (N'nvien0', N'1234', N' Võ Thị Hồng Tiên', N'0999999999', 0)
GO
INSERT [dbo].[THONG_KE] ([NGAY], [DOANHTHU]) VALUES (N'13-03', 214000)
INSERT [dbo].[THONG_KE] ([NGAY], [DOANHTHU]) VALUES (N'04-04', 351000)
INSERT [dbo].[THONG_KE] ([NGAY], [DOANHTHU]) VALUES (N'25-04', 116000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQUE_01_NHAN_VIEN]    Script Date: 6/2/2023 5:13:55 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [UNIQUE_01_NHAN_VIEN] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DON_HANG] ADD  CONSTRAINT [DF_DON_HANG_THANH_TIEN]  DEFAULT ((0)) FOR [THANH_TIEN]
GO
ALTER TABLE [dbo].[DON_HANG] ADD  CONSTRAINT [DF_DON_HANG_NGAY_TAO_DH]  DEFAULT (getdate()) FOR [THOI_GIAN_TAO_DH]
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET] ADD  CONSTRAINT [DF_DON_HANG_CHI_TIET_SO_LUONG]  DEFAULT ((0)) FOR [SO_LUONG]
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET] ADD  CONSTRAINT [DF_DON_HANG_CHI_TIET_DON_GIA]  DEFAULT ((0)) FOR [DON_GIA]
GO
ALTER TABLE [dbo].[HANG_HOA] ADD  CONSTRAINT [DF_HANG_HOA_SO_LUONG]  DEFAULT ((0)) FOR [SO_LUONG]
GO
ALTER TABLE [dbo].[HANG_HOA] ADD  CONSTRAINT [DF_HANG_HOA_DON_GIA]  DEFAULT ((0)) FOR [DON_GIA]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF_NHAN_VIEN_QUYEN_HAN]  DEFAULT ((0)) FOR [QUYEN_HAN]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_NHAN_VIEN] FOREIGN KEY([TAI_KHOAN])
REFERENCES [dbo].[NHAN_VIEN] ([TAI_KHOAN])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_01_DON_HANG] FOREIGN KEY([MA_DH])
REFERENCES [dbo].[DON_HANG] ([MA_DH])
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET] CHECK CONSTRAINT [FK_01_DON_HANG]
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_02_DON_HANG] FOREIGN KEY([MA_BAN])
REFERENCES [dbo].[BAN_AN] ([MA_BAN])
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET] CHECK CONSTRAINT [FK_02_DON_HANG]
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_03_DON_HANG] FOREIGN KEY([MA_HH])
REFERENCES [dbo].[HANG_HOA] ([MA_HH])
GO
ALTER TABLE [dbo].[DON_HANG_CHI_TIET] CHECK CONSTRAINT [FK_03_DON_HANG]
GO
ALTER TABLE [dbo].[HANG_HOA]  WITH CHECK ADD  CONSTRAINT [FK_01_HANG_HOA] FOREIGN KEY([MA_LH])
REFERENCES [dbo].[LOAI_HANG] ([MA_LH])
GO
ALTER TABLE [dbo].[HANG_HOA] CHECK CONSTRAINT [FK_01_HANG_HOA]
GO
ALTER TABLE [dbo].[HANG_HOA]  WITH CHECK ADD  CONSTRAINT [FK_02_HANG_HOA] FOREIGN KEY([MA_DVT])
REFERENCES [dbo].[DON_VI_TINH] ([MA_DVT])
GO
ALTER TABLE [dbo].[HANG_HOA] CHECK CONSTRAINT [FK_02_HANG_HOA]
GO
USE [master]
GO
